@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.shadow{
    position: fixed;
    width: 30vw;
    height: 40vh;
    z-index: -10;
    filter: blur(160px);
    opacity: 0.4;
    
}
#shadow1{
    background-color: #0E9EEF;
    top: 60vh;
    right: 0;
}
#shadow2{
    background-color: #EE10B0;
    left: 0;
}
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    width: 100vw;
}

#navbar{
    font-size: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px 16px;
    background-color: rgba(173, 173, 173, 0.126);
}
